<div class="mailing-container">
    <div class="mailing-background">
        <form action="/envelope" method="post">
            <input type="hidden" name="user_id" value=<%=@user_id%>>
            <div class="address">
                <input type="text" name="recipient_name" placeholder="Recipient Name" required>
                <input type="text" name="street_addr" placeholder="Recipient Address" required>
                <input type="text" name="city_addr" placeholder="Los Angeles, CA 90004" required>
            </div>
            <div class="email">
                Your Email: <input type="email" name="email" placeholder="sample@gmail.com" required>
            </div>
            <button class="footer-button skew ok-button envelope-button">
                <div class="countdown">Let's Mail It!</div>
            </button>
        </form>
    </div>
</div>