<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-97844075-1', 'auto');
    ga('send', 'pageview');
    function storeData() {
        if (sessionStorage) {
            const a_five = $("input").val().trim()
            sessionStorage.setItem('q_five', a_five)
        }
    }

    function stopEnterkey(evt) {
        if (evt.keyCode === 13) {
            return false
        }
    }
    document.onkeypress = stopEnterkey
</script>

<div class="questions-container">
    <div class="question-card-container">
        <div>A notable time during the day?</div>
        <form class="question-form" action="/six">
            <button class="back-button">
                <svg style="transform:rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="36" height="65" viewBox="0 0 36 65">
                    <path fill="#C00" d="M3.9 65.2L0 61.3l28.7-28.7L0 3.9 3.9 0l32.6 32.6"/>
                </svg>
            </button>
            <div class="btn-padding"></div>
            <input type="text" class="questions-input" placeholder="e.g. we get home from work" autofocus maxlength="50" />
            <div class="btn-padding"></div>
            <button class="next-button" onclick="storeData()">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="65" viewBox="0 0 36 65">
                    <path fill="#C00" d="M3.9 65.2L0 61.3l28.7-28.7L0 3.9 3.9 0l32.6 32.6"/>
                </svg>
            </button>
        </form>

        <div class="question-number"> 5 / 7 </div>
     </div>
</div>