<div class="questions-container">
    <div class="start-card">
        <div class="start-card-text">
            <div><span>Fill in your own <span class="handwritten">Lub-Lib</span>!</span></div>
            <div>Answer the following questions to unleash your inner Romeo</div>
        </div>

    </div>


    <form class="skew ok-button" action="/one" method="get">
        <button class="footer-button">
            <div class="countdown">Okay !</div>
        </button>
    </form>
</div>