<script type="text/javascript">
    function storeData() {
        if (sessionStorage) {
            const a_three = $("input").val().trim()
            sessionStorage.setItem('q_three', a_three)
        }
    }
</script>

<div class="questions-container">
    <div class="question-card-container">
        <div>What's a nice thing they do for you?</div>
        <form class="question-form" action="/four">
            <button class="back-button">
                <svg style="transform:rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="36" height="65" viewBox="0 0 36 65">
                    <path fill="#C00" d="M3.9 65.2L0 61.3l28.7-28.7L0 3.9 3.9 0l32.6 32.6"/>
                </svg>
            </button>
            <div class="btn-padding"></div>
            <input type="text" class="questions-input" name="question_one" placeholder="e.g. make pancakes for me and the kids" autofocus />
            <div class="btn-padding"></div>
            <button class="next-button" onclick="storeData()">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="65" viewBox="0 0 36 65">
                    <path fill="#C00" d="M3.9 65.2L0 61.3l28.7-28.7L0 3.9 3.9 0l32.6 32.6"/>
                </svg>
            </button>
        </form>

        <div class="question-number"> 3 / 7 </div>
     </div>
</div>