<script type="text/javascript">
    function storeData() {
        if (sessionStorage) {
            const a_two = $("input").val().trim()
            sessionStorage.setItem('q_two', a_two)
        }
    }

    function stopEnterkey(evt) {
        if (evt.keyCode === 13) {
            return false
        }
    }
    document.onkeypress = stopEnterkey
</script>


<div class="questions-container">
    <div class="question-card-container">
        <div>How would you describe them?</div>
        <form class="question-form">
            <button class="back-button" formaction="/one">
                <svg style="transform:rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="36" height="65" viewBox="0 0 36 65">
                    <path fill="#C00" d="M3.9 65.2L0 61.3l28.7-28.7L0 3.9 3.9 0l32.6 32.6"/>
                </svg>
            </button>
            <div class="btn-padding"></div>
            <input type="text" class="questions-input" placeholder="e.g. classy by day, freaky by night" autofocus maxlength="30" />
            <div class="btn-padding"></div>
            <button class="next-button" formaction="/three" onclick="storeData()">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="65" viewBox="0 0 36 65">
                    <path fill="#C00" d="M3.9 65.2L0 61.3l28.7-28.7L0 3.9 3.9 0l32.6 32.6"/>
                </svg>
            </button>
        </form>

        <div class="question-number"> 2 / 7 </div>
     </div>
</div>