<h1>Login</h1>
<div>
  <div>
    <%= form_for(:session) do |f| %>
        <p><%= f.text_field :username, placeholder: "susanyi", required: true %></p>
        <p><%= f.password_field :password, placeholder: "password", required: true %></p>
      <%= f.submit "Log In"%>
    <% end %>
  </div>
</div>
