<div class="main-page">
    <div id="welcome-page" class="welcome-page">
        <div class="intro">
            A little thought means a lot
        </div>
        <div class="card">
            <div><span>Send a <span class="handwritten">hand-crafted letter</span></span></div>
            <div>FREE for the first 100 Romeos!</div>
        </div>
    </div>
</div>

    <form class="skew footer-button-form" action="/start">
        <button class="footer-button">
            <div class="countdown">Get Started</div>
        </button>
    </form>