<div class="stripes">
    <div class="red-block skew"></div>
    <div class="blue-block skew"></div>
    <div class="red-block skew"></div>
    <div class="blue-block skew"></div>
    <div class="red-block skew"></div>
    <div class="blue-block skew"></div>
    <div class="red-block skew"></div>
    <div class="blue-block skew"></div>
</div>