<div class="header">
<a href="/">
<svg xmlns="http://www.w3.org/2000/svg" width="500" height="100" viewBox="0 0 500 100"><style><![CDATA[
    .st0{fill:none;stroke:#000000;stroke-width:1.5887;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st1{fill:#FFFFFF;stroke:#000000;stroke-width:0.6338;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st2{fill:none;stroke:#CC0000;stroke-width:10;stroke-miterlimit:10;stroke-dasharray:23.8376,23.8376;}
    .st3{fill:none;stroke:#231F20;stroke-width:0.7944;stroke-miterlimit:10;}
    .st4{fill:#FFFFFF;stroke:#000000;stroke-width:0.6219;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st5{fill:#ABABAB;}
    .st6{fill:#FFFFFF;stroke:#231F20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st7{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st8{fill:#7E99C1;}
    .st9{fill:#FFFFFF;stroke:#0D1E54;stroke-miterlimit:10;}
    .st10{fill:#FFFFFF;stroke:#000000;stroke-width:0.5782;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st11{stroke:url(#);stroke-width:2.7353;stroke-miterlimit:10;}
    .st12{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
    .st13{fill:#FFFFFF;stroke:#000000;stroke-width:1.5841;stroke-miterlimit:10;}
    .st14{fill:#E0E0E0;}
    .st15{fill-rule:evenodd;clip-rule:evenodd;fill:#7269B7;}
    .st16{fill-rule:evenodd;clip-rule:evenodd;fill:#A1C3BD;}
    .st17{fill:#FFFFFF;stroke:#000000;stroke-width:0.6594;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st18{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st19{fill-rule:evenodd;clip-rule:evenodd;fill:#A2CA3D;}
    .st20{fill:#F4C6C6;stroke:#9E9E9E;stroke-width:0.75;stroke-miterlimit:10;}
    .st21{fill:#FFFFFF;stroke:#0D1E54;stroke-width:2;stroke-miterlimit:10;}
    .st22{fill:#FFFFFF;stroke:#000000;stroke-width:0.1761;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st23{opacity:0.27;fill:url(#SVGID_15_);}
    .st24{fill:none;stroke:#000000;stroke-width:0.99;stroke-linecap:round;stroke-linejoin:round;}
    .st25{fill:none;stroke:#A67C52;stroke-width:2;stroke-miterlimit:10;}
    .st26{fill-rule:evenodd;clip-rule:evenodd;fill:#DBCDC6;}
    .st27{fill:#FFFFFF;stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st28{fill:none;stroke:url(#);stroke-width:2.2708;stroke-miterlimit:10;}
    .st29{display:none;fill:#FFFFFF;stroke:#000000;stroke-width:10;stroke-miterlimit:10;}
    .st30{fill:#CC0000;stroke:url(#);stroke-width:1.9801;stroke-miterlimit:10;}
    .st31{fill:#FFFFFF;stroke:#000000;stroke-width:0.1779;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st32{fill:none;stroke:#000000;stroke-width:1.0496;stroke-miterlimit:10;}
    .st33{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
    .st34{fill:#FFFFFF;stroke:#000000;stroke-width:0.2226;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st35{fill:#FFFFFF;stroke:#000000;stroke-width:0.4522;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st36{fill:#EFEFEF;}
    .st37{fill:none;stroke:#000000;stroke-width:0.2831;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st38{fill-rule:evenodd;clip-rule:evenodd;fill:#E13EB2;}
    .st39{fill:#FEF5E1;stroke:#0D1E54;stroke-width:3;stroke-miterlimit:10;}
    .st40{fill:#55637C;}
    .st41{fill:#FFFFFF;stroke:url(#);stroke-miterlimit:10;}
    .st42{fill:url(#SVGID_16_);stroke:#9E9E9E;stroke-width:0.5703;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st43{fill:url(#);}
    .st44{display:inline;fill:none;stroke:#000000;stroke-width:1.9951;stroke-miterlimit:10;}
    .st45{fill:none;stroke:#000000;stroke-width:0.1484;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st46{fill-rule:evenodd;clip-rule:evenodd;fill:#B18289;}
    .st47{fill:#231F20;}
    .st48{fill:#FFFFFF;stroke:#000000;stroke-width:3.0052;stroke-miterlimit:10;}
    .st49{fill:none;stroke:#231F20;stroke-width:1.5887;stroke-linecap:round;stroke-linejoin:round;}
    .st50{fill:#D4D4D4;stroke:#000000;stroke-width:0.6338;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st51{opacity:0.4;filter:url(#AI_BevelShadow_1);}
    .st52{fill:#FFFFFF;stroke:#000000;stroke-width:1.0496;stroke-miterlimit:10;}
    .st53{fill:#FFFFFF;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st54{fill-rule:evenodd;clip-rule:evenodd;fill:#EAA09C;}
    .st55{fill:#F6F6F6;}
    .st56{fill:none;stroke:#000000;stroke-width:0.8023;stroke-linejoin:round;stroke-miterlimit:10;}
    .st57{fill:none;stroke:url(#);stroke-width:2.2569;stroke-miterlimit:10;}
    .st58{fill:#CC0000;stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st59{fill:#29385E;}
    .st60{fill:none;stroke:#000000;stroke-width:0.2056;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st61{fill-rule:evenodd;clip-rule:evenodd;fill:#1D86D5;}
    .st62{fill:none;stroke:#000000;stroke-width:0.8023;stroke-miterlimit:10;}
    .st63{clip-path:url(#SVGID_2_);}
    .st64{clip-path:url(#SVGID_4_);}
    .st65{fill-rule:evenodd;clip-rule:evenodd;fill:#EF3C1B;}
    .st66{fill-rule:evenodd;clip-rule:evenodd;fill:#EFDA62;}
    .st67{fill:none;stroke:#000000;stroke-width:0.3674;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st68{fill:#FFFFFF;stroke:#000000;stroke-width:0.3757;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st69{fill:#FFFFFF;stroke:#000000;stroke-width:0.5245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st70{fill:none;stroke:#000000;stroke-linejoin:round;stroke-miterlimit:10;}
    .st71{fill:none;stroke:#000000;stroke-width:0.2505;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st72{fill:#C42126;}
    .st73{fill:#FEF5E1;stroke:#0D1E54;stroke-width:2;stroke-miterlimit:10;}
    .st74{fill:#C60905;}
    .st75{fill:none;stroke:#231F20;stroke-width:1.6047;stroke-linecap:round;stroke-linejoin:round;}
    .st76{fill:none;stroke:#000000;stroke-width:1.6047;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st77{fill:#981418;}
    .st78{clip-path:url(#SVGID_4_);fill:none;}
    .st79{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
    .st80{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
    .st81{fill:#FFFFFF;stroke:#000000;stroke-width:0.3084;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st82{opacity:0.3;}
    .st83{opacity:0.4;}
    .st84{fill:none;stroke:url(#);stroke-width:2.2344;stroke-miterlimit:10;}
    .st85{fill:#FEF5E1;}
    .st86{fill:none;stroke:#000000;stroke-miterlimit:10;}
    .st87{fill:#FFFFFF;stroke:#000000;stroke-width:1.6;stroke-miterlimit:10;}
    .st88{fill:#FFFFFF;}
    .st89{fill-rule:evenodd;clip-rule:evenodd;fill:#F1F3F1;}
    .st90{fill:none;stroke:#000000;stroke-width:0.1151;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st91{fill:#647A9B;}
    .st92{fill:none;}
    .st93{fill-rule:evenodd;clip-rule:evenodd;fill:#25682A;}
    .st94{fill:none;stroke:url(#);stroke-miterlimit:10;}
    .st95{fill:none;stroke:#0D1E54;stroke-width:10;stroke-miterlimit:10;}
    .st96{fill-rule:evenodd;clip-rule:evenodd;fill:#5C4C67;}
    .st97{fill-rule:evenodd;clip-rule:evenodd;fill:#F7D780;}
    .st98{fill:#CC0000;}
    .st99{display:inline;}
    .st100{fill:none;stroke:#0D1E54;stroke-width:7;stroke-miterlimit:10;}
    .st101{fill:#9E9E9E;}
    .st102{fill:none;stroke:#000000;stroke-width:0.4146;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st103{clip-path:url(#SVGID_14_);fill:none;}
    .st104{fill:none;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
    .st105{fill:#FFFFFF;stroke:#000000;stroke-width:0.8023;stroke-miterlimit:10;}
    .st106{fill:#FFFFFF;stroke:#000000;stroke-width:0.1936;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st107{fill:none;stroke:#000000;stroke-width:0.1291;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st108{fill:none;stroke:#000000;stroke-width:0.4396;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st109{fill:#FFFFFF;stroke:#000000;stroke-linejoin:round;stroke-miterlimit:10;}
    .st110{fill:none;stroke:#000000;stroke-width:0.1174;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st111{fill:none;stroke:#000000;stroke-width:0.7944;stroke-miterlimit:10;}
    .st112{fill:#FFFFFF;stroke:#000000;stroke-width:0.6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st113{fill:none;stroke:#000000;stroke-width:0.7944;stroke-linejoin:round;stroke-miterlimit:10;}
    .st114{fill-rule:evenodd;clip-rule:evenodd;fill:#C83782;}
    .st115{fill-rule:evenodd;clip-rule:evenodd;fill:#2E445A;}
    .st116{fill:none;stroke:#000000;stroke-width:0.4426;stroke-miterlimit:10;}
    .st117{fill:none;stroke:#231F20;stroke-width:0.8023;stroke-miterlimit:10;}
    .st118{fill:#FFFFFF;stroke:#000000;stroke-width:0.4363;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st119{fill:none;stroke:#000000;stroke-width:0.1186;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st120{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
    .st121{fill:#FFFFFF;stroke:#000000;stroke-width:0.4246;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st122{fill:none;stroke:#000000;stroke-width:0.99;stroke-miterlimit:10;}
    .st123{fill-rule:evenodd;clip-rule:evenodd;fill:#63A58C;}
    .st124{fill:#FFFFFF;stroke:#9E9E9E;stroke-width:0.5703;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st125{fill-rule:evenodd;clip-rule:evenodd;fill:#67C2B1;}
    .st126{display:inline;fill:none;stroke:#000000;stroke-width:2.0151;stroke-miterlimit:10;}
    .st127{fill:#3C4A68;}
    .st128{fill:#FFFFFF;stroke:#000000;stroke-width:0.5993;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st129{display:none;}
    .st130{fill:#D4D4D4;stroke:#000000;stroke-width:0.5245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st131{clip-path:url(#SVGID_10_);}
    .st132{clip-path:url(#SVGID_12_);}
    .st133{clip-path:url(#SVGID_14_);}
    .st134{fill:none;stroke:#000000;stroke-width:0.2213;stroke-miterlimit:10;}
    .st135{fill:#FFFFFF;stroke:url(#);stroke-width:1.9801;stroke-miterlimit:10;}
    .st136{fill:#FFFFFF;stroke:#000000;stroke-width:0.1727;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st137{fill:none;stroke:url(#);stroke-width:2.2482;stroke-miterlimit:10;}
    .st138{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
    .st139{fill:#FFFFFF;stroke:#000000;stroke-width:0.5511;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st140{fill:none;stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st141{opacity:0.4;filter:url(#AI_Shadow_1);}
    .st142{fill:#A7C5EA;}
    .st143{fill:#0D1E54;}
    .st144{fill:#D4D4D4;stroke:#000000;stroke-width:0.6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st145{stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st146{fill:#FFFFFF;stroke:#231F20;stroke-width:0.8023;stroke-miterlimit:10;}
    .st147{fill:none;stroke:#000000;stroke-width:0.495;stroke-linecap:round;stroke-linejoin:round;}
    .st148{fill-rule:evenodd;clip-rule:evenodd;fill:#D43E54;}
]]></style><g id="_x30_1"><path class="st88" d="M-734-21.9h1920v1080H-734z" id="bg_1_"/><g id="logo_1_"><path d="M50 53.8l13.3 18.3h-7.9L43.1 54.6h-1.2v17.6h-6.5v-43H43c5.7 0 9.8 1.1 12.3 3.2 2.8 2.4 4.2 5.5 4.2 9.4 0 3-.9 5.7-2.6 7.8-1.8 2.2-4.1 3.6-6.9 4.2zm-8.1-4.9H44c6.1 0 9.2-2.3 9.2-7 0-4.4-3-6.6-9-6.6h-2.3v13.6zM66.1 58.4c0-3.9 1.4-7.2 4.2-10 2.8-2.7 6.2-4.1 10.2-4.1 4 0 7.5 1.4 10.3 4.1 2.8 2.8 4.2 6.2 4.2 10.2 0 4.1-1.4 7.5-4.2 10.2-2.8 2.7-6.3 4.1-10.4 4.1-4.1 0-7.5-1.4-10.2-4.2-2.7-2.7-4.1-6.1-4.1-10.3zm6.4.1c0 2.7.7 4.8 2.2 6.4 1.5 1.6 3.4 2.4 5.9 2.4 2.4 0 4.4-.8 5.9-2.4 1.5-1.6 2.2-3.7 2.2-6.3 0-2.6-.7-4.7-2.2-6.3-1.6-1.5-3.5-2.3-6-2.3-2.4 0-4.3.8-5.8 2.4-1.4 1.5-2.2 3.6-2.2 6.1zM117.4 49.7l-5.2 2.8c-.8-1.7-1.8-2.5-3-2.5-.6 0-1.1.2-1.5.6-.4.4-.6.9-.6 1.5 0 1 1.2 2.1 3.6 3.1 3.3 1.4 5.6 2.7 6.7 3.9 1.2 1.2 1.7 2.8 1.7 4.9 0 2.6-1 4.8-2.9 6.6-1.9 1.7-4.1 2.5-6.8 2.5-4.5 0-7.8-2.2-9.6-6.6l5.3-2.5c.7 1.3 1.3 2.1 1.7 2.5.8.7 1.7 1.1 2.7 1.1 2.1 0 3.2-1 3.2-2.9 0-1.1-.8-2.2-2.4-3.1-.6-.3-1.3-.6-1.9-.9-.6-.3-1.3-.6-1.9-.9-1.8-.9-3.1-1.8-3.8-2.7-.9-1.1-1.4-2.6-1.4-4.4 0-2.4.8-4.3 2.4-5.8 1.6-1.5 3.7-2.3 6-2.3 3.4-.3 6 1.5 7.7 5.1zM149.4 60.1H130c.2 2.2.9 4 2.2 5.3 1.3 1.3 2.9 1.9 4.9 1.9 1.6 0 2.8-.4 3.9-1.1 1-.7 2.1-2.1 3.4-4.1l5.3 2.9c-.8 1.4-1.7 2.6-2.6 3.6-.9 1-1.9 1.8-2.9 2.4-1 .6-2.2 1.1-3.4 1.4s-2.5.4-3.9.4c-4 0-7.3-1.3-9.7-3.9-2.4-2.6-3.7-6.1-3.7-10.4 0-4.3 1.2-7.7 3.6-10.4 2.4-2.6 5.6-3.9 9.5-3.9 4 0 7.1 1.3 9.5 3.8 2.3 2.5 3.4 6 3.4 10.5l-.1 1.6zM143 55c-.9-3.3-3-5-6.3-5-.8 0-1.5.1-2.1.3-.7.2-1.3.6-1.8 1s-1 1-1.4 1.6c-.4.6-.7 1.3-.9 2.1H143zM172 49.7l-5.2 2.8c-.8-1.7-1.8-2.5-3-2.5-.6 0-1.1.2-1.5.6-.4.4-.6.9-.6 1.5 0 1 1.2 2.1 3.6 3.1 3.3 1.4 5.6 2.7 6.7 3.9 1.2 1.2 1.7 2.8 1.7 4.9 0 2.6-1 4.8-2.9 6.6-1.9 1.7-4.1 2.5-6.8 2.5-4.5 0-7.8-2.2-9.6-6.6l5.3-2.5c.7 1.3 1.3 2.1 1.7 2.5.8.7 1.7 1.1 2.7 1.1 2.1 0 3.2-1 3.2-2.9 0-1.1-.8-2.2-2.4-3.1-.6-.3-1.3-.6-1.9-.9-.6-.3-1.3-.6-1.9-.9-1.8-.9-3.1-1.8-3.8-2.7-.9-1.1-1.4-2.6-1.4-4.4 0-2.4.8-4.3 2.4-5.8 1.6-1.5 3.7-2.3 6-2.3 3.4-.3 6 1.5 7.7 5.1z"/><g><path d="M297.6 31.4V39c-3.7-3.1-7.6-4.7-11.6-4.7-4.4 0-8.1 1.6-11.2 4.8-3 3.2-4.6 7-4.6 11.6 0 4.5 1.5 8.3 4.6 11.4 3 3.1 6.8 4.6 11.2 4.6 2.3 0 4.2-.4 5.8-1.1.9-.4 1.8-.9 2.8-1.5s2-1.4 3-2.3v7.8c-3.7 2.1-7.6 3.2-11.7 3.2-6.1 0-11.4-2.1-15.7-6.4-4.3-4.3-6.5-9.5-6.5-15.6 0-5.5 1.8-10.3 5.4-14.6 4.4-5.2 10.2-7.9 17.3-7.9 3.9 0 7.6 1 11.2 3.1zM303.3 58.3c0-3.9 1.4-7.2 4.2-10s6.2-4.1 10.2-4.1c4 0 7.5 1.4 10.3 4.1 2.8 2.8 4.2 6.2 4.2 10.2 0 4.1-1.4 7.5-4.2 10.2-2.8 2.7-6.3 4.1-10.4 4.1-4.1 0-7.5-1.4-10.2-4.2-2.7-2.7-4.1-6.2-4.1-10.3zm6.4.1c0 2.7.7 4.8 2.2 6.4 1.5 1.6 3.4 2.4 5.9 2.4 2.4 0 4.4-.8 5.9-2.4 1.5-1.6 2.2-3.7 2.2-6.3 0-2.6-.7-4.7-2.2-6.3-1.5-1.6-3.4-2.4-5.9-2.4-2.4 0-4.3.8-5.8 2.4-1.6 1.6-2.3 3.7-2.3 6.2zM337.5 58.3c0-3.9 1.4-7.2 4.2-10s6.2-4.1 10.2-4.1c4 0 7.5 1.4 10.3 4.1 2.8 2.8 4.2 6.2 4.2 10.2 0 4.1-1.4 7.5-4.2 10.2-2.8 2.7-6.3 4.1-10.4 4.1-4.1 0-7.5-1.4-10.2-4.2-2.7-2.7-4.1-6.2-4.1-10.3zm6.4.1c0 2.7.7 4.8 2.2 6.4 1.5 1.6 3.4 2.4 5.9 2.4 2.4 0 4.4-.8 5.9-2.4 1.5-1.6 2.2-3.7 2.2-6.3 0-2.6-.7-4.7-2.2-6.3-1.5-1.6-3.4-2.4-5.9-2.4-2.4 0-4.3.8-5.8 2.4s-2.3 3.7-2.3 6.2zM379.3 25.1v28.6l8.8-8.8h8.4l-11.8 11.4L397.3 72h-8.1l-9-11.4-1 1V72H373V25h6.3zM400.4 33.7c0-1.1.4-2 1.2-2.8.8-.8 1.8-1.2 2.9-1.2 1.1 0 2.1.4 2.9 1.2.8.8 1.2 1.7 1.2 2.9s-.4 2.1-1.2 2.9c-.8.8-1.7 1.2-2.9 1.2-1.1 0-2.1-.4-2.9-1.2-.8-.9-1.2-1.9-1.2-3zm7.2 11.2V72h-6.3V44.9h6.3zM440.2 60h-19.4c.2 2.2.9 4 2.2 5.3 1.3 1.3 2.9 1.9 4.9 1.9 1.6 0 2.8-.4 3.9-1.1 1-.7 2.1-2.1 3.4-4.1l5.3 2.9c-.8 1.4-1.7 2.6-2.6 3.6-.9 1-1.9 1.8-2.9 2.4-1 .6-2.2 1.1-3.4 1.4s-2.5.4-3.9.4c-4 0-7.3-1.3-9.7-3.9-2.4-2.6-3.7-6.1-3.7-10.4 0-4.3 1.2-7.7 3.6-10.4 2.4-2.6 5.6-3.9 9.5-3.9 4 0 7.1 1.3 9.5 3.8 2.3 2.5 3.4 6 3.4 10.5l-.1 1.6zm-6.4-5.2c-.9-3.3-3-5-6.3-5-.8 0-1.5.1-2.1.3s-1.3.6-1.8 1-1 1-1.4 1.6c-.4.6-.7 1.3-.9 2.1h12.5zM462.8 49.6l-5.2 2.8c-.8-1.6-1.8-2.5-3-2.5-.6 0-1.1.2-1.5.6-.4.4-.6.9-.6 1.5 0 1 1.2 2.1 3.6 3.1 3.3 1.4 5.6 2.7 6.7 3.9 1.1 1.2 1.7 2.8 1.7 4.9 0 2.6-1 4.8-2.9 6.6-1.9 1.7-4.1 2.5-6.8 2.5-4.5 0-7.8-2.2-9.6-6.6l5.3-2.5c.7 1.3 1.3 2.1 1.7 2.5.8.7 1.7 1.1 2.7 1.1 2.1 0 3.2-1 3.2-2.9 0-1.1-.8-2.2-2.4-3.1-.6-.3-1.3-.6-1.9-.9-.6-.3-1.3-.6-1.9-.9-1.8-.9-3.1-1.8-3.8-2.7-.9-1.1-1.4-2.6-1.4-4.4 0-2.4.8-4.3 2.4-5.8 1.7-1.5 3.7-2.3 6-2.3 3.4-.3 6 1.5 7.7 5.1z"/></g><g><path class="st98" d="M260.2 70.6s-.2.3-.5.9c-.4.6-.8 1.5-1.6 2.6-1.5 2.2-3.9 5.4-7.8 8.5-1 .8-2 1.6-3.2 2.3l-1.8 1.2c-.7.3-1.3.7-2 1-1.3.8-2.8 1.3-4.4 1.9l-.6.2-.1.1-.2.1-.3.1-1.2.3c-.8.2-1.6.5-2.5.7-.9.2-1.8.3-2.7.5-.5.1-.9.2-1.4.2-.5 0-.9.1-1.4.1-1 .1-1.9.2-2.9.2s-2 0-3-.1c-4.1-.3-8.2-1.4-12.3-3.1-4.1-1.8-8.1-4.2-11.6-7.4-3.6-3.2-6.7-7.1-9.1-11.7-.5-1.2-1.1-2.3-1.6-3.5-.4-1.2-.9-2.4-1.3-3.7 0-.1 0 0-.1-.2v-.1l-.1-.2-.1-.5-.2-.9c-.1-.6-.3-1.2-.4-1.8-.3-1.3-.4-2.7-.6-4-.6-5.4-.1-10.9 1.5-16.2 3.1-10.7 11-20.3 21.6-25.4l2-.9c.7-.3 1.4-.5 2.1-.8l2.1-.7c.1 0 .1-.1.3-.1l.3-.1.5-.1 1-.3c.7-.2 1.4-.3 2.1-.5.7-.2 1.5-.3 2.2-.4 1.4-.2 2.9-.4 4.4-.5 5.9-.3 11.9.4 17.5 2.6 2.8 1.1 5.5 2.6 7.8 4.6.3.2.6.5.9.7l.8.8c.5.5 1.1 1.1 1.6 1.7 1 1.3 1.8 2.7 2.3 4.3 1 3.2.6 6.9-1.1 9.7l-.6 1-.7.9-.4.5-.2.2s-.1.2-.2.2l-.1.1c-.3.3-.4.5-.8.8-.3.3-.7.6-1 .8l-.9.7c-.6.4-1.3.8-1.9 1.2-2.6 1.5-5.2 2.6-7.9 3.5-2.7 1-5.4 1.8-8 2.4-5.4 1.4-10.8 2.3-16.2 2.8-2.7.2-5.4.4-8.1.2-1.4-.1-2.7-.2-4.1-.4-.7-.1-1.4-.3-2.1-.5h-.1c-.1 0 .1 0-.3-.1l-.2-.1-.4-.2-.4-.2c-.1-.1-.3-.1-.5-.3-.4-.2-.8-.5-1.1-.7-.4-.3-.6-.6-.9-.9-.1-.2-.3-.3-.4-.5l-.4-.5c-.2-.4-.5-.7-.6-1.1-.7-1.6-.9-3.4-.4-5s1.5-3.1 2.9-4c.7-.5 1.5-.8 2.2-1.1.8-.1 1.6-.3 2.4-.3.4 0 .8 0 1.1.1l1.1.2.3.1h.1c.1 0 0 0 .3.1l.4.2.8.3c.3.1.6.3.9.4l1 .5c.7.4 1.1.8 1.7 1.1 2.1 1.6 3.7 3.5 5.2 5.4 2.9 3.9 4.9 8 6.6 12 .8 2 1.6 4 2.3 6 .7 2 1.2 3.7 1.9 5.4 1.3 3.4 3.1 6.5 5.2 8.9 2.1 2.4 4.7 4 7.4 4.7 2.7.7 5.4.5 7.6 0 1.2-.3 2.4-.5 3.3-1 1-.4 2-.7 2.8-1.2.8-.4 1.6-.8 2.3-1.3.7-.4 1.3-.8 1.8-1.2 1.5-1 2.4-2.2 2.4-2.2zm0 0s-.8 1.2-2.7 3c-.5.5-1.1.9-1.7 1.4-.6.5-1.4 1-2.2 1.5-1.6 1-3.8 2-6.1 2.8-2.5.8-5.4 1.3-8.5.7-3.1-.6-6.4-2.2-9.1-4.8-2.7-2.5-4.9-5.8-6.7-9.4-.4-.9-.9-1.9-1.2-2.9-.2-.5-.3-1-.5-1.5-.1-.5-.3-.9-.4-1.4-.6-1.9-1.3-3.8-2.1-5.7-1.6-3.8-3.5-7.7-6.1-11.1-1.3-1.7-2.7-3.4-4.4-4.6-.4-.3-.9-.7-1.3-.9l-.6-.3c-.2-.1-.4-.2-.7-.3l-.8-.3-.4-.2c.3.1 0 0 .1 0H204.5l-.7-.1c-.2-.1-.4 0-.7 0-.5-.1-.8.1-1.3.1-.4.2-.7.3-1 .5-.6.4-1.1 1.1-1.3 1.9-.2.8-.2 1.6.2 2.3.3.7 1 1.4 1.6 1.8l.1.1.2.1.4.2.4.2.2.1c-.3-.1 0 0-.1 0h.1c.5.2 1.1.3 1.6.4 1.1.2 2.4.3 3.6.4 2.5.1 5 0 7.6-.2 5.1-.5 10.4-1.4 15.6-2.7 2.6-.7 5.2-1.4 7.7-2.3 2.5-.9 5-1.9 7.2-3.2.6-.3 1.1-.7 1.6-1l.7-.6.6-.5.7-.7.1-.1s-.1.1 0 0l.1-.2.3-.4.6-.7.4-.8c.3-.5.5-1.1.7-1.6.1-.5.3-1.1.4-1.6.1-1.1 0-2.2-.3-3.3-.3-1.1-.9-2.2-1.6-3.1-.3-.4-.8-.9-1.3-1.4l-.7-.7c-.2-.2-.5-.4-.7-.6-2-1.7-4.3-3-6.7-4-4.9-2-10.4-2.6-15.7-2.4-1.3.1-2.7.2-4 .4-.7.1-1.3.2-2 .3-.6.1-1.3.2-2 .4l-1 .3-.5.1-.3.1s-.1 0-.2.1l-1.9.7c-.6.2-1.3.4-1.9.7l-1.8.9c-9.5 4.6-16.7 13.3-19.5 23-1.4 4.8-1.9 9.8-1.4 14.6.2 1.2.3 2.3.5 3.5.3 1.2.6 2.4.9 3.5l1.2 3.3c.5 1.1 1 2.1 1.5 3.2 4.3 8.2 11.3 14.1 18.7 17.3 3.7 1.6 7.5 2.3 11.2 2.8l2.7.3c.9.1 1.8 0 2.7 0h1.3c.4 0 .8-.1 1.3-.1.8-.1 1.7-.2 2.5-.2.8-.1 1.7-.3 2.5-.5.4-.1.8-.2 1.2-.2l.3-.1h.1s.1 0 0 0h.1l.6-.2c1.5-.5 2.9-.9 4.3-1.5.7-.3 1.3-.5 2-.8l1.8-.9c1.2-.6 2.3-1.3 3.3-2 4-2.7 6.7-5.5 8.4-7.5.9-1 1.4-1.9 1.8-2.4.4-.7.7-1 .7-1z"/></g></g></g></svg>
</a>
</div>
<div class="stripes">
    <div class="red-block skew"></div>
    <div class="blue-block skew"></div>
    <div class="red-block skew"></div>
    <div class="blue-block skew"></div>

    <div class="center"></div>

    <div class="blue-block skew"></div>
    <div class="red-block skew"></div>
    <div class="blue-block skew"></div>
    <div class="red-block skew"></div>
</div>
<div class="skew lub-libs">
    <div class="countdown"><%= @count %> Users Left</div>
</div>