<div class="header">
<a href="/">
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="500px"
     height="100px" viewBox="0 0 500 100" style="enable-background:new 0 0 500 100;" xml:space="preserve">
<style type="text/css">
<![CDATA[
    .st0{fill:none;stroke:#000000;stroke-width:1.5887;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st1{fill:none;stroke:url(#SVGID_71_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st2{fill:#FFFFFF;stroke:#000000;stroke-width:0.6338;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st3{fill:none;stroke:#231F20;stroke-width:0.7944;stroke-miterlimit:10;}
    .st4{fill:#FFFFFF;stroke:#000000;stroke-width:0.6219;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st5{fill:#ABABAB;}
    .st6{fill:url(#SVGID_65_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st7{fill:#FFFFFF;stroke:#231F20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st8{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st9{fill:none;stroke:url(#SVGID_74_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st10{fill:#7E99C1;}
    .st11{fill:url(#SVGID_103_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st12{fill:#FFFFFF;stroke:#0D1E54;stroke-miterlimit:10;}
    .st13{fill:#FFFFFF;stroke:#000000;stroke-width:0.5782;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st14{stroke:url(#);stroke-width:2.7353;stroke-miterlimit:10;}
    .st15{fill:none;stroke:url(#SVGID_51_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st16{fill:url(#SVGID_92_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st17{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
    .st18{fill:#FFFFFF;stroke:#000000;stroke-width:1.5841;stroke-miterlimit:10;}
    .st19{fill:#E0E0E0;}
    .st20{fill:#FFFFFF;stroke:#000000;stroke-width:0.6594;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st21{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st22{fill:none;stroke:url(#SVGID_77_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st23{stroke:#FFFFFF;stroke-width:0.8829;stroke-miterlimit:10;}
    .st24{fill:#F4C6C6;stroke:#9E9E9E;stroke-width:0.75;stroke-miterlimit:10;}
    .st25{fill:#FFFFFF;stroke:#0D1E54;stroke-width:2;stroke-miterlimit:10;}
    .st26{fill:#FFFFFF;stroke:#000000;stroke-width:0.1761;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st27{opacity:0.27;fill:url(#SVGID_22_);}
    .st28{opacity:0.27;fill:url(#SVGID_39_);}
    .st29{fill:url(#SVGID_66_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st30{fill:none;stroke:#000000;stroke-width:0.99;stroke-linecap:round;stroke-linejoin:round;}
    .st31{fill:none;stroke:#A67C52;stroke-width:2;stroke-miterlimit:10;}
    .st32{fill:url(#SVGID_80_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st33{fill:url(#SVGID_104_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st34{fill:#FFFFFF;stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st35{fill:url(#SVGID_23_);stroke:#9E9E9E;stroke-width:0.5703;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st36{fill:none;stroke:url(#);stroke-width:2.2708;stroke-miterlimit:10;}
    .st37{fill:url(#SVGID_93_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st38{fill:#FFFFFF;stroke:url(#SVGID_16_);stroke-width:2.6196;stroke-miterlimit:10;}
    .st39{fill:#FFFFFF;stroke:#000000;stroke-width:0.1779;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st40{fill:none;stroke:#000000;stroke-width:1.0496;stroke-miterlimit:10;}
    .st41{fill:url(#SVGID_67_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st42{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
    .st43{fill:url(#SVGID_81_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st44{display:inline;fill:none;stroke:#000000;stroke-width:2.2586;stroke-miterlimit:10;}
    .st45{fill:url(#SVGID_105_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st46{fill:#FFFFFF;stroke:#221F1F;stroke-miterlimit:10;}
    .st47{fill:url(#SVGID_94_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st48{fill:#FFFFFF;stroke:#000000;stroke-width:0.2226;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st49{fill:url(#SVGID_28_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st50{fill:#FFFFFF;stroke:#000000;stroke-width:0.4522;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st51{fill:#EFEFEF;}
    .st52{fill:none;stroke:#000000;stroke-width:0.2831;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st53{fill:#FFFFFF;stroke:#000000;stroke-width:0.779;stroke-linejoin:round;stroke-miterlimit:10;}
    .st54{fill:url(#SVGID_68_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st55{fill:#FEF5E1;stroke:#0D1E54;stroke-width:3;stroke-miterlimit:10;}
    .st56{fill:url(#SVGID_82_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st57{fill:url(#SVGID_15_);stroke:#231F20;stroke-width:0.9918;stroke-miterlimit:10;}
    .st58{fill:#55637C;}
    .st59{fill:url(#SVGID_106_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st60{fill:#FFFFFF;stroke:url(#);stroke-miterlimit:10;}
    .st61{fill:url(#SVGID_95_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st62{fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
    .st63{fill:none;stroke:url(#SVGID_70_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st64{fill:url(#);}
    .st65{display:inline;fill:#F6F6F6;}
    .st66{fill:none;stroke:url(#);stroke-width:2.2345;stroke-miterlimit:10;}
    .st67{clip-path:url(#SVGID_43_);fill:none;}
    .st68{display:inline;fill:none;stroke:#000000;stroke-width:1.9951;stroke-miterlimit:10;}
    .st69{fill:none;stroke:url(#);stroke-width:10;stroke-miterlimit:10;}
    .st70{fill:none;stroke:#000000;stroke-width:10;stroke-miterlimit:10;}
    .st71{fill:url(#SVGID_69_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st72{fill:none;stroke:url(#SVGID_73_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st73{fill:none;stroke:#000000;stroke-width:0.1484;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st74{fill:#FFFFFF;stroke:#000000;stroke-width:10;stroke-miterlimit:10;}
    .st75{fill:#231F20;}
    .st76{fill:#FFFFFF;stroke:#000000;stroke-width:3.0052;stroke-miterlimit:10;}
    .st77{fill:none;stroke:#231F20;stroke-width:1.5887;stroke-linecap:round;stroke-linejoin:round;}
    .st78{fill:url(#SVGID_83_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st79{fill:url(#SVGID_96_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st80{fill:#D4D4D4;stroke:#000000;stroke-width:0.6338;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st81{opacity:0.4;filter:url(#AI_BevelShadow_1);}
    .st82{fill:#FFFFFF;stroke:#000000;stroke-width:1.0496;stroke-miterlimit:10;}
    .st83{fill:#FFFFFF;stroke:#000000;stroke-width:1.3002;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st84{fill:none;stroke:url(#SVGID_76_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st85{fill:#FFFFFF;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st86{fill:url(#SVGID_31_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st87{fill:#F6F6F6;}
    .st88{fill:none;stroke:#000000;stroke-width:0.8023;stroke-linejoin:round;stroke-miterlimit:10;}
    .st89{fill:none;stroke:url(#);stroke-width:2.2569;stroke-miterlimit:10;}
    .st90{fill:#29385E;}
    .st91{fill:none;stroke:#000000;stroke-width:0.2056;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st92{fill:url(#SVGID_40_);stroke:#9E9E9E;stroke-width:0.5703;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st93{fill:none;stroke:#000000;stroke-width:0.8023;stroke-miterlimit:10;}
    .st94{fill:url(#SVGID_100_);}
    .st95{fill:url(#SVGID_107_);}
    .st96{fill:none;stroke:url(#SVGID_79_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st97{fill:none;stroke:url(#SVGID_10_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st98{fill:url(#SVGID_84_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st99{fill:url(#SVGID_29_);stroke:url(#);stroke-width:1.9801;stroke-miterlimit:10;}
    .st100{fill:none;stroke:#000000;stroke-width:0.3674;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st101{fill:#FFFFFF;stroke:#000000;stroke-width:0.3757;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st102{fill:#FFFFFF;stroke:#000000;stroke-width:0.5245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st103{fill:url(#SVGID_5_);}
    .st104{fill:none;stroke:#000000;stroke-linejoin:round;stroke-miterlimit:10;}
    .st105{fill:none;stroke:#000000;stroke-width:0.2505;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st106{fill:#C42126;}
    .st107{fill:#FEF5E1;stroke:#0D1E54;stroke-width:2;stroke-miterlimit:10;}
    .st108{fill:#C60905;}
    .st109{fill:none;stroke:url(#SVGID_18_);stroke-width:4.0426;stroke-linecap:round;stroke-miterlimit:10;}
    .st110{fill:none;stroke:#231F20;stroke-width:1.6047;stroke-linecap:round;stroke-linejoin:round;}
    .st111{fill:none;stroke:url(#SVGID_19_);stroke-width:4.0426;stroke-linecap:round;stroke-miterlimit:10;}
    .st112{fill:none;stroke:#000000;stroke-width:1.6047;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st113{fill:#981418;}
    .st114{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
    .st115{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
    .st116{fill:url(#SVGID_85_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st117{fill:#FFFFFF;stroke:#000000;stroke-width:0.3084;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st118{opacity:0.3;}
    .st119{opacity:0.4;}
    .st120{fill:none;stroke:url(#SVGID_20_);stroke-width:4.0426;stroke-linecap:round;stroke-miterlimit:10;}
    .st121{fill:none;stroke:url(#SVGID_21_);stroke-width:4.0426;stroke-linecap:round;stroke-miterlimit:10;}
    .st122{fill:#FEF5E1;}
    .st123{fill:none;stroke:#000000;stroke-miterlimit:10;}
    .st124{fill:#FFFFFF;stroke:#000000;stroke-width:1.6;stroke-miterlimit:10;}
    .st125{fill:#FFFFFF;}
    .st126{fill:none;stroke:#000000;stroke-width:0.1151;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st127{fill:#FFFFFF;stroke:#000000;stroke-width:1.7657;stroke-miterlimit:10;}
    .st128{fill:#647A9B;}
    .st129{fill:none;}
    .st130{fill:none;stroke:url(#);stroke-miterlimit:10;}
    .st131{fill:url(#SVGID_86_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st132{fill:none;stroke:#000000;stroke-width:1.3002;stroke-miterlimit:10;}
    .st133{fill:#CCCCCC;}
    .st134{display:inline;}
    .st135{fill:#9E9E9E;}
    .st136{fill:none;stroke:#000000;stroke-width:0.4146;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st137{fill:none;stroke:#C60905;stroke-width:10;stroke-miterlimit:10;stroke-dasharray:23.8376,23.8376;}
    .st138{fill:url(#);stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st139{fill:#FFFFFF;stroke:#000000;stroke-width:0.8023;stroke-miterlimit:10;}
    .st140{fill:#FFFFFF;stroke:#000000;stroke-width:0.1936;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st141{fill:none;stroke:#000000;stroke-width:0.1291;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st142{fill:none;stroke:url(#SVGID_72_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st143{fill:none;stroke:#000000;stroke-width:0.4396;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st144{fill:none;stroke:url(#);stroke-width:3;stroke-miterlimit:10;}
    .st145{fill:url(#SVGID_61_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st146{fill:#FFFFFF;stroke:#000000;stroke-linejoin:round;stroke-miterlimit:10;}
    .st147{fill:none;stroke:#000000;stroke-width:0.1174;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st148{fill:none;stroke:#000000;stroke-width:0.7944;stroke-miterlimit:10;}
    .st149{fill:#FFFFFF;stroke:#000000;stroke-width:0.6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st150{fill:url(#SVGID_87_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st151{fill:none;stroke:#221F1F;stroke-miterlimit:10;}
    .st152{fill:none;stroke:url(#SVGID_75_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st153{fill:none;stroke:url(#SVGID_52_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st154{clip-path:url(#SVGID_102_);}
    .st155{clip-path:url(#SVGID_109_);}
    .st156{fill:none;stroke:#000000;stroke-width:0.7944;stroke-linejoin:round;stroke-miterlimit:10;}
    .st157{fill:none;stroke:#000000;stroke-width:0.4426;stroke-miterlimit:10;}
    .st158{fill:none;stroke:#231F20;stroke-width:0.8023;stroke-miterlimit:10;}
    .st159{fill:#FFFFFF;stroke:#000000;stroke-width:0.4363;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st160{fill:none;stroke:#000000;stroke-width:0.1186;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st161{stroke:url(#);stroke-width:2.8481;stroke-miterlimit:10;}
    .st162{fill:none;stroke:url(#SVGID_78_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st163{fill:#FFFFFF;stroke:#000000;stroke-width:0.4246;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st164{fill:none;stroke:#000000;stroke-width:0.99;stroke-miterlimit:10;}
    .st165{fill:url(#SVGID_88_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st166{fill:#FFFFFF;stroke:#9E9E9E;stroke-width:0.5703;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st167{display:inline;fill:none;stroke:#000000;stroke-width:2.0151;stroke-miterlimit:10;}
    .st168{fill:#3C4A68;}
    .st169{fill:url(#SVGID_11_);}
    .st170{fill:url(#SVGID_14_);}
    .st171{fill:url(#SVGID_17_);}
    .st172{fill:url(#SVGID_24_);}
    .st173{fill:url(#SVGID_25_);}
    .st174{fill:url(#SVGID_26_);}
    .st175{fill:url(#SVGID_27_);}
    .st176{fill:url(#SVGID_30_);}
    .st177{fill:url(#SVGID_32_);}
    .st178{fill:url(#SVGID_35_);}
    .st179{fill:url(#SVGID_36_);}
    .st180{fill:url(#SVGID_37_);}
    .st181{fill:url(#SVGID_41_);}
    .st182{fill:url(#SVGID_48_);}
    .st183{fill:url(#SVGID_49_);}
    .st184{fill:url(#SVGID_50_);}
    .st185{fill:url(#SVGID_53_);}
    .st186{fill:url(#SVGID_54_);}
    .st187{fill:url(#SVGID_55_);}
    .st188{fill:url(#SVGID_60_);}
    .st189{fill:url(#SVGID_62_);}
    .st190{fill:url(#SVGID_64_);}
    .st191{fill:url(#SVGID_99_);}
    .st192{fill:#FFFFFF;stroke:#000000;stroke-width:0.5993;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st193{fill:url(#SVGID_63_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st194{fill:none;stroke:url(#SVGID_38_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st195{display:none;}
    .st196{fill:#D4D4D4;stroke:#000000;stroke-width:0.5245;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st197{clip-path:url(#SVGID_13_);}
    .st198{clip-path:url(#SVGID_34_);}
    .st199{clip-path:url(#SVGID_43_);}
    .st200{clip-path:url(#SVGID_98_);}
    .st201{fill:none;stroke:#000000;stroke-width:0.2213;stroke-miterlimit:10;}
    .st202{fill:#FFFFFF;stroke:url(#);stroke-width:1.9801;stroke-miterlimit:10;}
    .st203{fill:url(#SVGID_89_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st204{fill:none;stroke:url(#SVGID_9_);stroke-width:5.4682;stroke-miterlimit:10;}
    .st205{fill:#FFFFFF;stroke:#000000;stroke-width:0.1727;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st206{fill:url(#SVGID_90_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st207{fill:#FFFFFF;stroke:#231F20;stroke-miterlimit:10;}
    .st208{fill:none;stroke:url(#);stroke-width:2.2482;stroke-miterlimit:10;}
    .st209{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
    .st210{fill:#FFFFFF;stroke:#000000;stroke-width:0.5511;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st211{clip-path:url(#SVGID_102_);fill:none;}
    .st212{fill:none;stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st213{fill:url(#);stroke:#000000;stroke-width:1.0496;stroke-miterlimit:10;}
    .st214{opacity:0.4;filter:url(#AI_Shadow_1);}
    .st215{fill:#A7C5EA;}
    .st216{fill:#0D1E54;}
    .st217{fill:#D4D4D4;stroke:#000000;stroke-width:0.6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st218{fill:url(#);stroke:#000000;stroke-width:1.145;stroke-miterlimit:10;}
    .st219{fill:url(#SVGID_8_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st220{fill:url(#SVGID_91_);stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st221{stroke:url(#);stroke-width:2;stroke-miterlimit:10;}
    .st222{fill:#FFFFFF;stroke:#231F20;stroke-width:0.8023;stroke-miterlimit:10;}
    .st223{fill:none;stroke:#000000;stroke-width:0.495;stroke-linecap:round;stroke-linejoin:round;}
]]>
</style>
<pattern  x="-710" y="-15" width="93" height="94" patternUnits="userSpaceOnUse" id="Unnamed_Pattern_2" viewBox="0 -94 93 94" style="overflow:visible;">
    <g>
        <polygon class="st129" points="0,0 93,0 93,-94 0,-94        "/>
        <polygon class="st108" points="93,0 0,0 0,-94 93,-94        "/>
    </g>
</pattern>
<g id="bg" class="st195">
</g>
<g id="Layer_2">
</g>
<g id="Layer_1">
</g>
<g id="logo">
    <g>
        <g>
            <g>
                <path d="M74,52.8l13.3,18.3h-7.9L67.1,53.5h-1.2v17.6h-6.5V28.1H67c5.7,0,9.8,1.1,12.3,3.2c2.8,2.4,4.2,5.5,4.2,9.4
                    c0,3-0.9,5.7-2.6,7.8C79.1,50.8,76.8,52.2,74,52.8z M65.9,47.8H68c6.1,0,9.2-2.3,9.2-7c0-4.4-3-6.6-9-6.6h-2.3V47.8z"/>
                <path d="M90.1,57.3c0-3.9,1.4-7.2,4.2-10c2.8-2.7,6.2-4.1,10.2-4.1c4,0,7.5,1.4,10.3,4.1c2.8,2.8,4.2,6.2,4.2,10.2
                    c0,4.1-1.4,7.5-4.2,10.2c-2.8,2.7-6.3,4.1-10.4,4.1c-4.1,0-7.5-1.4-10.2-4.2C91.5,64.9,90.1,61.5,90.1,57.3z M96.5,57.4
                    c0,2.7,0.7,4.8,2.2,6.4c1.5,1.6,3.4,2.4,5.9,2.4c2.4,0,4.4-0.8,5.9-2.4c1.5-1.6,2.2-3.7,2.2-6.3c0-2.6-0.7-4.7-2.2-6.3
                    c-1.5-1.6-3.4-2.4-5.9-2.4c-2.4,0-4.3,0.8-5.8,2.4C97.2,52.9,96.5,54.9,96.5,57.4z"/>
                <path d="M141.3,48.6l-5.2,2.8c-0.8-1.7-1.8-2.5-3-2.5c-0.6,0-1.1,0.2-1.5,0.6c-0.4,0.4-0.6,0.9-0.6,1.5c0,1,1.2,2.1,3.6,3.1
                    c3.3,1.4,5.6,2.7,6.7,3.9c1.2,1.2,1.7,2.8,1.7,4.9c0,2.6-1,4.8-2.9,6.6c-1.9,1.7-4.1,2.5-6.8,2.5c-4.5,0-7.8-2.2-9.6-6.6
                    l5.3-2.5c0.7,1.3,1.3,2.1,1.7,2.5c0.8,0.7,1.7,1.1,2.7,1.1c2.1,0,3.2-1,3.2-2.9c0-1.1-0.8-2.2-2.4-3.1c-0.6-0.3-1.3-0.6-1.9-0.9
                    c-0.6-0.3-1.3-0.6-1.9-0.9c-1.8-0.9-3.1-1.8-3.8-2.7c-0.9-1.1-1.4-2.6-1.4-4.4c0-2.4,0.8-4.3,2.4-5.8c1.6-1.5,3.7-2.3,6-2.3
                    C137.1,43.2,139.6,45,141.3,48.6z"/>
                <path d="M173.4,59H154c0.2,2.2,0.9,4,2.2,5.3c1.3,1.3,2.9,1.9,4.9,1.9c1.6,0,2.8-0.4,3.9-1.1c1-0.7,2.1-2.1,3.4-4.1l5.3,2.9
                    c-0.8,1.4-1.7,2.6-2.6,3.6c-0.9,1-1.9,1.8-2.9,2.4c-1,0.6-2.2,1.1-3.4,1.4s-2.5,0.4-3.9,0.4c-4,0-7.3-1.3-9.7-3.9
                    c-2.4-2.6-3.7-6.1-3.7-10.4c0-4.3,1.2-7.7,3.6-10.4c2.4-2.6,5.6-3.9,9.5-3.9c4,0,7.1,1.3,9.5,3.8c2.3,2.5,3.4,6,3.4,10.5
                    L173.4,59z M166.9,53.9c-0.9-3.3-3-5-6.3-5c-0.8,0-1.5,0.1-2.1,0.3c-0.7,0.2-1.3,0.6-1.8,1s-1,1-1.4,1.6
                    c-0.4,0.6-0.7,1.3-0.9,2.1H166.9z"/>
                <path d="M195.9,48.6l-5.2,2.8c-0.8-1.7-1.8-2.5-3-2.5c-0.6,0-1.1,0.2-1.5,0.6c-0.4,0.4-0.6,0.9-0.6,1.5c0,1,1.2,2.1,3.6,3.1
                    c3.3,1.4,5.6,2.7,6.7,3.9c1.2,1.2,1.7,2.8,1.7,4.9c0,2.6-1,4.8-2.9,6.6c-1.9,1.7-4.1,2.5-6.8,2.5c-4.5,0-7.8-2.2-9.6-6.6
                    l5.3-2.5c0.7,1.3,1.3,2.1,1.7,2.5c0.8,0.7,1.7,1.1,2.7,1.1c2.1,0,3.2-1,3.2-2.9c0-1.1-0.8-2.2-2.4-3.1c-0.6-0.3-1.3-0.6-1.9-0.9
                    c-0.6-0.3-1.3-0.6-1.9-0.9c-1.8-0.9-3.1-1.8-3.8-2.7c-0.9-1.1-1.4-2.6-1.4-4.4c0-2.4,0.8-4.3,2.4-5.8c1.6-1.5,3.7-2.3,6-2.3
                    C191.7,43.2,194.3,45,195.9,48.6z"/>
            </g>
            <g>
                <path d="M321.6,30.3V38c-3.7-3.1-7.6-4.7-11.6-4.7c-4.4,0-8.1,1.6-11.2,4.8c-3,3.2-4.6,7-4.6,11.6c0,4.5,1.5,8.3,4.6,11.4
                    c3,3.1,6.8,4.6,11.2,4.6c2.3,0,4.2-0.4,5.8-1.1c0.9-0.4,1.8-0.9,2.8-1.5s2-1.4,3-2.3v7.8c-3.7,2.1-7.6,3.2-11.7,3.2
                    c-6.1,0-11.4-2.1-15.7-6.4c-4.3-4.3-6.5-9.5-6.5-15.6c0-5.5,1.8-10.3,5.4-14.6c4.4-5.2,10.2-7.9,17.3-7.9
                    C314.2,27.2,318,28.2,321.6,30.3z"/>
                <path d="M327.3,57.2c0-3.9,1.4-7.2,4.2-10s6.2-4.1,10.2-4.1c4,0,7.5,1.4,10.3,4.1c2.8,2.8,4.2,6.2,4.2,10.2
                    c0,4.1-1.4,7.5-4.2,10.2c-2.8,2.7-6.3,4.1-10.4,4.1c-4.1,0-7.5-1.4-10.2-4.2C328.6,64.8,327.3,61.4,327.3,57.2z M333.6,57.3
                    c0,2.7,0.7,4.8,2.2,6.4c1.5,1.6,3.4,2.4,5.9,2.4c2.4,0,4.4-0.8,5.9-2.4c1.5-1.6,2.2-3.7,2.2-6.3c0-2.6-0.7-4.7-2.2-6.3
                    c-1.5-1.6-3.4-2.4-5.9-2.4c-2.4,0-4.3,0.8-5.8,2.4C334.4,52.7,333.6,54.8,333.6,57.3z"/>
                <path d="M361.5,57.2c0-3.9,1.4-7.2,4.2-10s6.2-4.1,10.2-4.1c4,0,7.5,1.4,10.3,4.1c2.8,2.8,4.2,6.2,4.2,10.2
                    c0,4.1-1.4,7.5-4.2,10.2c-2.8,2.7-6.3,4.1-10.4,4.1c-4.1,0-7.5-1.4-10.2-4.2C362.9,64.8,361.5,61.4,361.5,57.2z M367.9,57.3
                    c0,2.7,0.7,4.8,2.2,6.4c1.5,1.6,3.4,2.4,5.9,2.4c2.4,0,4.4-0.8,5.9-2.4c1.5-1.6,2.2-3.7,2.2-6.3c0-2.6-0.7-4.7-2.2-6.3
                    c-1.5-1.6-3.4-2.4-5.9-2.4c-2.4,0-4.3,0.8-5.8,2.4S367.9,54.8,367.9,57.3z"/>
                <path d="M403.2,24v28.6l8.8-8.8h8.4l-11.8,11.4l12.6,15.7h-8.1l-9-11.4l-1,1v10.4H397V24H403.2z"/>
                <path d="M424.4,32.6c0-1.1,0.4-2,1.2-2.8c0.8-0.8,1.8-1.2,2.9-1.2c1.1,0,2.1,0.4,2.9,1.2c0.8,0.8,1.2,1.7,1.2,2.9
                    s-0.4,2.1-1.2,2.9c-0.8,0.8-1.7,1.2-2.9,1.2c-1.1,0-2.1-0.4-2.9-1.2C424.8,34.7,424.4,33.7,424.4,32.6z M431.6,43.9v27.1h-6.3
                    V43.9H431.6z"/>
                <path d="M464.2,58.9h-19.4c0.2,2.2,0.9,4,2.2,5.3c1.3,1.3,2.9,1.9,4.9,1.9c1.6,0,2.8-0.4,3.9-1.1c1-0.7,2.1-2.1,3.4-4.1l5.3,2.9
                    c-0.8,1.4-1.7,2.6-2.6,3.6c-0.9,1-1.9,1.8-2.9,2.4c-1,0.6-2.2,1.1-3.4,1.4s-2.5,0.4-3.9,0.4c-4,0-7.3-1.3-9.7-3.9
                    c-2.4-2.6-3.7-6.1-3.7-10.4c0-4.3,1.2-7.7,3.6-10.4c2.4-2.6,5.6-3.9,9.5-3.9c4,0,7.1,1.3,9.5,3.8c2.3,2.5,3.4,6,3.4,10.5
                    L464.2,58.9z M457.8,53.8c-0.9-3.3-3-5-6.3-5c-0.8,0-1.5,0.1-2.1,0.3s-1.3,0.6-1.8,1s-1,1-1.4,1.6c-0.4,0.6-0.7,1.3-0.9,2.1
                    H457.8z"/>
                <path d="M486.8,48.5l-5.2,2.8c-0.8-1.6-1.8-2.5-3-2.5c-0.6,0-1.1,0.2-1.5,0.6c-0.4,0.4-0.6,0.9-0.6,1.5c0,1,1.2,2.1,3.6,3.1
                    c3.3,1.4,5.6,2.7,6.7,3.9c1.1,1.2,1.7,2.8,1.7,4.9c0,2.6-1,4.8-2.9,6.6c-1.9,1.7-4.1,2.5-6.8,2.5c-4.5,0-7.8-2.2-9.6-6.6
                    l5.3-2.5c0.7,1.3,1.3,2.1,1.7,2.5c0.8,0.7,1.7,1.1,2.7,1.1c2.1,0,3.2-1,3.2-2.9c0-1.1-0.8-2.2-2.4-3.1c-0.6-0.3-1.3-0.6-1.9-0.9
                    c-0.6-0.3-1.3-0.6-1.9-0.9c-1.8-0.9-3.1-1.8-3.8-2.7c-0.9-1.1-1.4-2.6-1.4-4.4c0-2.4,0.8-4.3,2.4-5.8c1.7-1.5,3.7-2.3,6-2.3
                    C482.5,43.1,485.1,44.9,486.8,48.5z"/>
            </g>
            <g class="st195">
                <path class="st167" d="M246.8,49.5l10.3,12.4l0.3-0.4c1.1-1.2,2.2-2.4,3.1-3.5c1-1.2,1.9-2.3,2.8-3.5l5.6,5.8
                    c-0.7,1-1.6,2.1-2.7,3.4c-1.1,1.3-2.5,2.8-4,4.5l10.6,13h-10.7l-5.7-7c-5.2,5.4-10.6,8.1-16.3,8.1c-5,0-9.3-1.6-12.8-4.8
                    c-3.4-3.2-5.2-7.3-5.2-12c0-5.7,2.7-10.4,8.2-14.2l3.7-2.5c0,0,0.1-0.1,0.3-0.2c0.1-0.1,0.3-0.2,0.5-0.4c-3.8-4-5.6-8-5.6-11.8
                    c0-3.8,1.3-7,3.8-9.4c2.6-2.4,5.9-3.6,9.9-3.6c3.9,0,7.1,1.2,9.7,3.5c2.6,2.3,3.8,5.3,3.8,8.9c0,2.5-0.7,4.7-2.1,6.7
                    C252.9,44.4,250.4,46.8,246.8,49.5z M240,54.4l-0.5,0.3c-3.5,2.4-5.9,4.4-7.2,5.9c-1.3,1.5-1.9,3-1.9,4.7c0,2.4,0.9,4.5,2.8,6.5
                    c2,1.9,4.1,2.8,6.5,2.8c3.3,0,7.1-2.2,11.5-6.5L240,54.4z M241.8,43.5l0.7-0.5c1.2-0.9,2.2-1.7,3-2.4c0.8-0.7,1.4-1.2,1.7-1.7
                    c0.7-0.9,1.1-2,1.1-3.4c0-1.5-0.5-2.7-1.5-3.7s-2.4-1.4-4.1-1.4c-1.6,0-2.9,0.5-3.9,1.4c-1.1,0.9-1.6,2.1-1.6,3.5
                    c0,1.7,0.7,3.3,2,4.9l2.1,2.6C241.5,43,241.6,43.2,241.8,43.5z"/>
            </g>
        </g>
        <g>
            <g>
                <pattern  id="SVGID_2_" xlink:href="#Unnamed_Pattern_2" patternTransform="matrix(1 0 0 1 -1646.3115 562.1318)">
                </pattern>
                <path style="fill:url(#SVGID_2_);" d="M284.1,69.6c0,0-0.2,0.3-0.5,0.9c-0.4,0.6-0.8,1.5-1.6,2.6c-1.5,2.2-3.9,5.4-7.8,8.5
                    c-1,0.8-2,1.6-3.2,2.3c-0.6,0.4-1.2,0.8-1.8,1.2c-0.7,0.3-1.3,0.7-2,1c-1.3,0.8-2.8,1.3-4.4,1.9l-0.6,0.2l-0.1,0.1l-0.2,0.1
                    l-0.3,0.1c-0.4,0.1-0.8,0.2-1.2,0.3c-0.8,0.2-1.6,0.5-2.5,0.7c-0.9,0.2-1.8,0.3-2.7,0.5c-0.5,0.1-0.9,0.2-1.4,0.2
                    c-0.5,0-0.9,0.1-1.4,0.1c-1,0.1-1.9,0.2-2.9,0.2c-1,0-2,0-3-0.1c-4.1-0.3-8.2-1.4-12.3-3.1c-4.1-1.8-8.1-4.2-11.6-7.4
                    c-3.6-3.2-6.7-7.1-9.1-11.7c-0.5-1.2-1.1-2.3-1.6-3.5c-0.4-1.2-0.9-2.4-1.3-3.7c0-0.1,0,0-0.1-0.2l0-0.1l-0.1-0.2l-0.1-0.5
                    l-0.2-0.9c-0.1-0.6-0.3-1.2-0.4-1.8c-0.3-1.3-0.4-2.7-0.6-4c-0.6-5.4-0.1-10.9,1.5-16.2c3.1-10.7,11-20.3,21.6-25.4l2-0.9
                    c0.7-0.3,1.4-0.5,2.1-0.8l2.1-0.7c0.1,0,0.1-0.1,0.3-0.1l0.3-0.1l0.5-0.1l1-0.3c0.7-0.2,1.4-0.3,2.1-0.5
                    c0.7-0.2,1.5-0.3,2.2-0.4c1.4-0.2,2.9-0.4,4.4-0.5c5.9-0.3,11.9,0.4,17.5,2.6c2.8,1.1,5.5,2.6,7.8,4.6c0.3,0.2,0.6,0.5,0.9,0.7
                    l0.8,0.8c0.5,0.5,1.1,1.1,1.6,1.7c1,1.3,1.8,2.7,2.3,4.3c1,3.2,0.6,6.9-1.1,9.7l-0.6,1l-0.7,0.9l-0.4,0.5l-0.2,0.2
                    c0,0-0.1,0.2-0.2,0.2l-0.1,0.1c-0.3,0.3-0.4,0.5-0.8,0.8c-0.3,0.3-0.7,0.6-1,0.8l-0.9,0.7c-0.6,0.4-1.3,0.8-1.9,1.2
                    c-2.6,1.5-5.2,2.6-7.9,3.5c-2.7,1-5.4,1.8-8,2.4c-5.4,1.4-10.8,2.3-16.2,2.8c-2.7,0.2-5.4,0.4-8.1,0.2c-1.4-0.1-2.7-0.2-4.1-0.4
                    c-0.7-0.1-1.4-0.3-2.1-0.5l-0.1,0c-0.1,0,0.1,0-0.3-0.1l-0.2-0.1l-0.4-0.2l-0.4-0.2c-0.1-0.1-0.3-0.1-0.5-0.3
                    c-0.4-0.2-0.8-0.5-1.1-0.7c-0.4-0.3-0.6-0.6-0.9-0.9c-0.1-0.2-0.3-0.3-0.4-0.5l-0.4-0.5c-0.2-0.4-0.5-0.7-0.6-1.1
                    c-0.7-1.6-0.9-3.4-0.4-5c0.5-1.6,1.5-3.1,2.9-4c0.7-0.5,1.5-0.8,2.2-1.1c0.8-0.1,1.6-0.3,2.4-0.3c0.4,0,0.8,0,1.1,0.1l1.1,0.2
                    l0.3,0.1l0.1,0c0.1,0,0,0,0.3,0.1l0.4,0.2l0.8,0.3c0.3,0.1,0.6,0.3,0.9,0.4l1,0.5c0.7,0.4,1.1,0.8,1.7,1.1
                    c2.1,1.6,3.7,3.5,5.2,5.4c2.9,3.9,4.9,8,6.6,12c0.8,2,1.6,4,2.3,6c0.7,2,1.2,3.7,1.9,5.4c1.3,3.4,3.1,6.5,5.2,8.9
                    c2.1,2.4,4.7,4,7.4,4.7c2.7,0.7,5.4,0.5,7.6,0c1.2-0.3,2.4-0.5,3.3-1c1-0.4,2-0.7,2.8-1.2c0.8-0.4,1.6-0.8,2.3-1.3
                    c0.7-0.4,1.3-0.8,1.8-1.2C283.2,70.7,284.1,69.6,284.1,69.6z M284.1,69.6c0,0-0.8,1.2-2.7,3c-0.5,0.5-1.1,0.9-1.7,1.4
                    c-0.6,0.5-1.4,1-2.2,1.5c-1.6,1-3.8,2-6.1,2.8c-2.5,0.8-5.4,1.3-8.5,0.7c-3.1-0.6-6.4-2.2-9.1-4.8c-2.7-2.5-4.9-5.8-6.7-9.4
                    c-0.4-0.9-0.9-1.9-1.2-2.9c-0.2-0.5-0.3-1-0.5-1.5c-0.1-0.5-0.3-0.9-0.4-1.4c-0.6-1.9-1.3-3.8-2.1-5.7
                    c-1.6-3.8-3.5-7.7-6.1-11.1c-1.3-1.7-2.7-3.4-4.4-4.6c-0.4-0.3-0.9-0.7-1.3-0.9l-0.6-0.3c-0.2-0.1-0.4-0.2-0.7-0.3l-0.8-0.3
                    l-0.4-0.2c0.3,0.1,0,0,0.1,0l-0.1,0l-0.2,0l-0.7-0.1c-0.2-0.1-0.4,0-0.7,0c-0.5-0.1-0.8,0.1-1.3,0.1c-0.4,0.2-0.7,0.3-1,0.5
                    c-0.6,0.4-1.1,1.1-1.3,1.9c-0.2,0.8-0.2,1.6,0.2,2.3c0.3,0.7,1,1.4,1.6,1.8c0,0,0.1,0.1,0.1,0.1l0.2,0.1l0.4,0.2l0.4,0.2
                    l0.2,0.1c-0.3-0.1,0,0-0.1,0l0.1,0c0.5,0.2,1.1,0.3,1.6,0.4c1.1,0.2,2.4,0.3,3.6,0.4c2.5,0.1,5,0,7.6-0.2
                    c5.1-0.5,10.4-1.4,15.6-2.7c2.6-0.7,5.2-1.4,7.7-2.3c2.5-0.9,5-1.9,7.2-3.2c0.6-0.3,1.1-0.7,1.6-1l0.7-0.6l0.6-0.5
                    c0.2-0.2,0.5-0.5,0.7-0.7l0.1-0.1c0,0-0.1,0.1,0,0l0.1-0.2l0.3-0.4l0.6-0.7l0.4-0.8c0.3-0.5,0.5-1.1,0.7-1.6
                    c0.1-0.5,0.3-1.1,0.4-1.6c0.1-1.1,0-2.2-0.3-3.3c-0.3-1.1-0.9-2.2-1.6-3.1c-0.3-0.4-0.8-0.9-1.3-1.4l-0.7-0.7
                    c-0.2-0.2-0.5-0.4-0.7-0.6c-2-1.7-4.3-3-6.7-4c-4.9-2-10.4-2.6-15.7-2.4c-1.3,0.1-2.7,0.2-4,0.4c-0.7,0.1-1.3,0.2-2,0.3
                    c-0.6,0.1-1.3,0.2-2,0.4l-1,0.3l-0.5,0.1l-0.3,0.1c0,0-0.1,0-0.2,0.1l-1.9,0.7c-0.6,0.2-1.3,0.4-1.9,0.7l-1.8,0.9
                    c-9.5,4.6-16.7,13.3-19.5,23c-1.4,4.8-1.9,9.8-1.4,14.6c0.2,1.2,0.3,2.3,0.5,3.5c0.3,1.2,0.6,2.4,0.9,3.5
                    c0.4,1.1,0.8,2.2,1.2,3.3c0.5,1.1,1,2.1,1.5,3.2c4.3,8.2,11.3,14.1,18.7,17.3c3.7,1.6,7.5,2.3,11.2,2.8c0.9,0.1,1.8,0.2,2.7,0.3
                    c0.9,0.1,1.8,0,2.7,0c0.4,0,0.9,0,1.3,0c0.4,0,0.8-0.1,1.3-0.1c0.8-0.1,1.7-0.2,2.5-0.2c0.8-0.1,1.7-0.3,2.5-0.5
                    c0.4-0.1,0.8-0.2,1.2-0.2l0.3-0.1l0.1,0c0,0,0.1,0,0,0l0.1,0l0.6-0.2c1.5-0.5,2.9-0.9,4.3-1.5c0.7-0.3,1.3-0.5,2-0.8
                    c0.6-0.3,1.2-0.6,1.8-0.9c1.2-0.6,2.3-1.3,3.3-2c4-2.7,6.7-5.5,8.4-7.5c0.9-1,1.4-1.9,1.8-2.4C283.9,69.8,284.1,69.6,284.1,69.6
                    z"/>
            </g>
        </g>
    </g>
</g>
<g id="header_x5F_footer_x5F_banner" class="st195">
</g>
<g id="counter">
    <g>
        <defs>
            <polygon id="SVGID_108_" points="385.8,177 59.7,177 114.2,136 440.4,136             "/>
        </defs>
        <clipPath id="SVGID_4_">
            <use xlink:href="#SVGID_108_"  style="overflow:visible;"/>
        </clipPath>
        <g style="clip-path:url(#SVGID_4_);">
            <rect x="419" y="90" class="st129" width="93" height="94"/>
            <rect x="419" y="90" class="st108" width="93" height="94"/>
        </g>
        <g style="clip-path:url(#SVGID_4_);">
            <rect x="326" y="90" class="st129" width="93" height="94"/>
            <rect x="326" y="90" class="st108" width="93" height="94"/>
        </g>
        <g style="clip-path:url(#SVGID_4_);">
            <rect x="233" y="90" class="st129" width="93" height="94"/>
            <rect x="233" y="90" class="st108" width="93" height="94"/>
        </g>
        <g style="clip-path:url(#SVGID_4_);">
            <rect x="140" y="90" class="st129" width="93" height="94"/>
            <rect x="140" y="90" class="st108" width="93" height="94"/>
        </g>
        <g style="clip-path:url(#SVGID_4_);">
            <rect x="47" y="90" class="st129" width="93" height="94"/>
            <rect x="47" y="90" class="st108" width="93" height="94"/>
        </g>
    </g>
</g>
</svg>
</a>
</div>
<div class="stripes">
    <div class="red-block skew"></div>
    <div class="blue-block skew"></div>
    <div class="red-block skew"></div>
    <div class="blue-block skew"></div>

    <div class="center"></div>

    <div class="blue-block skew"></div>
    <div class="red-block skew"></div>
    <div class="blue-block skew"></div>
    <div class="red-block skew"></div>
</div>
<div class="skew lub-libs">
    <div class="countdown"><%= @count %> Lub Libs Left</div>
</div>